img {
    width: 200px;
    height: 200px;
    border-radius: 50px;

    display:block;
    margin: 0px auto 0px auto;
}

h1 {
    color: peru;
}

#judul {
    color: peachpuff;
}

.tengah {
    align-self: center;
    color: burlywood;
}

h2, h3, h4 {
    color: bisque;
}

h2.tengah {
    color: antiquewhite;
}